@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;600;700&display=swap');
@import './button.scss';
@import './text.scss';
@import './home.scss';
@import './enterprise.scss';
@import './digital.scss';









body{
    font-family: 'Lato', sans-serif;
    margin:0;
    overflow-x: hidden;
    background-color: #FAFBFF;
}




.flex{
    width: 100%;
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}

.front-banner{
    text-align: center;
    color:white;
}

.border-div{
    border: 2px solid #1EC6C6;
    border-radius: 30px;
    padding: 30px 10px;
}

.text-center{
    text-align: center;
}

.m-10{
    margin-top:10px;
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.h-100{
    height: 100%;
}

.divider{
    border-left: 2px solid #214C85;
    min-height: 100%;
    width:2px;
    margin: auto;
}

@media (max-width: 991px){
    .divider{
        border-bottom: 2px solid #214C85;
        border-left: none;
        min-height: 0%;
        width:100%;
        min-width: 100%;
        height:2px;
    }
}



footer{
    position: relative;
    width:100%;
    padding: 30px 50px;
    background-color: #333333;
    color:white;

    

    .footer-menu{
        list-style: none;
        display:flex;
        flex-direction: row;
        justify-content: center;

        .divider{
            border-color: white;
        }

        li{
            margin: 0px 20px;
            a{
                color:white;

            }
        }
    }
}