h1,h2,h3,h4,h5,h6,p{
    width: 100%;
    margin:0;
}

h1,h2,h3{
    font-family: 'Montserrat', sans-serif !important;
}

p{
    font-size: 1.125rem;
    font-weight: 400;
    color: #333333;
}

a{
    text-decoration: none;
    margin:0;
}